.container {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  width: 70vw;
  padding: 1.5em;
  border-radius: 0.8em;
}

section {
  width: 50%;
  padding: 1.5em;
  border-radius: 0.7em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

[data-panel] {
  margin-bottom: 1em;
}

.flex:nth-of-type(2) {
  margin-bottom: auto;
}

[data-panel]:nth-of-type(3) {
  margin-bottom: 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

[data-panel].flex > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

[data-panel-title] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.2em;
}

[data-panel-title] small {
  visibility: hidden;
  font-size: 0.7em;
}

.amount {
  font-size: 2.5em;
  color: var(--primary)
}

input {
  width: 100%;
  border: none;
  background-color: var(--very-light-gray-cyan);
  padding: 0.7em 0.8em;
  border-radius: 0.2em;
  color: var(--very-dark-cyan);
  text-align: right;
  /* outline-color: var(--primary);  */
  font-size: 0.8em;
}

input.error {
  color: red;
}

input.custom {
  text-align: center;
}

.tip-btn, .custom {
  outline: none;
  border: none;
  border-radius: 0.2em;
  background-color: var(--very-dark-cyan);
  color: white;
  width: 100%;
  padding: 0.5em;
  font-size: 0.8em;
  font-family: 'Space Mono';
}

.custom {
  background-color: var(--very-light-gray-cyan);
  color: var(--very-dark-cyan);
}

.tip-btn:hover {
  background-color: var(--light-gray-cyan);
  color: var(--very-dark-cyan);
}

.active {
  background-color: var(--primary);
  color: var(--very-dark-cyan);
}

.btn-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0.7em;
  grid-row-gap: 0.7em;
}

.reset-btn {
  width: 100%;
  padding: 0.4em;
  font-size: 0.7em;
  border: none;
  border-radius: 0.3em;
  outline: none;
  justify-self: flex-end;
  background-color: var(--primary);
}

.reset-btn:hover {
  background-color: var(--light-gray-cyan);
}

.reset-btn.disabled {
  background-color: #0d686d;
  color: var(--very-dark-cyan);
  cursor: not-allowed;
}

.person {
  font-size: 0.6em;
  font-weight: 700;
  color: var(--gray-cyan);
}